
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  flex: 1;
  overflow-y: auto; 
  display: flex;
  width: 1600vh;
  height: 90vh;
  background: #1E242C;
  margin: 0;
}

.title {
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: #fff;
  margin-left: 20px;
}

.serverBtn {
  color: red;
  font-size: 40px;
  margin-top: 100px;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f4f4f4;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
