#raceScrollContainer {
    height: 70%;
    width: 80%;
    position: relative;
    overflow-x: hidden;
}

#raceBackground {
    background-color: lemonchiffon;
    background: url(/src/assets/image_fx_16_bit_style_overhead_view_of_a_horse_race_tr.jpg) repeat-x;
    background-size: contain;
    height: 100%;
    width: 300%;
    border-radius: 3px;
    /* animation: slide 10s linear infinite; */
    background-repeat: repeat-x;
}
.boundaries {
    height: 100%;
    width: 90%;
}

.horseInRace {
    position: absolute;
    font-size: 2.5em;
    text-align: right;
}

span.flip {
  display: inline-block;
  scale: -1 1;
}

#openModals {
  position: absolute;
  bottom: 5%;
  left: 45%;
}

@keyframes slide {
    0% {
      --translate: translate3d(0, 0, 0);
    }
    100% {
      --translate: translate3d(-1000px, 0, 0); 
    }
  }

  .comment-entry {
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(0);
    opacity: 1;
  }

  .comment-box {
    position: fixed;
    bottom: 0;
    left: 10; 
    top: 75%;
    width: 40%; 
    height: 100px;
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 10; 
    transition: filter 0.3s;
    filter: blur(0);
  }


.comments p {
    margin: 5px 0;
    line-height: 1.4;
    color: #fff;
    font-size: 22px;
    background-color: #333;
}

