
.container {
    display: block;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 60vh;
    overflow-y: auto;  
}

.title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.profileInfo {
    margin-bottom: 10px;
    margin-top: 90px;
}

.username,
.userId,
.wallet,
.bankruptcy,
.favHorses {
    position: relative;
    left: 10%;
    margin: 10px 0;
    font-size: 18px;
    color: #555;

}

.username {
    font-weight: bold;
}

.userId,
.wallet,
.bankruptcy,
.favHorses {
    opacity: 0.8;
    padding-top: 20px;
}
