.horseStats {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.statFILL, .statEMPTY {
    height: 20px;
    aspect-ratio: 1/1;
    margin: 1px;
    border: solid 1px white;
}

.statFILL {
    background-color: green;
}

.statEMPTY {
    background-color: transparent;
}