@import '../../vars.css';

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
  margin: 15px;
  color: var(--color-text);
}

.horseList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
  color: var(--color-secondary);
  padding-left: 6%;
}

.horseCard {
  flex: 0 0 calc(25% - 20px); 
  max-width: calc(25% - 20px); 
  cursor: pointer;
}

.favoriteIcon {
  padding-left: 10px;
  cursor: pointer;
  font-size: 1.5rem; 
  color: black; 
}

.favoriteActive {
  color: gold; 
}

/* Pagination container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.pagination button {
  background-color: #f0f0f0; 
  color: #333; 
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px; 
}

/* Hover effects */
.pagination button:hover {
  background-color: #ddd; 
}


.pagination .active {
  background-color: #007bff;
  color: white; 
  font-weight: bold; 
}

.pagination button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); 
}
